.chat-header {
    background-color: #FFFFFF;
    box-shadow: 15px 0 15px -15px #000,
    -15px 0 15px -15px #000;
}

.van-icon img {
    border-radius: 50%;
}

.chat-main {
    margin-top: 25px;
    margin-bottom: 70px;
    padding: 0 20px;
}

.chat-bar {
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    box-shadow: 15px 0 15px -15px #000,
    -15px 0 15px -15px #000;
}

.chat-bar-btn {
    color: #FFFFFF;
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    font-weight: 800;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00909e;
    margin-top: 10px;
    margin-left: 15px;
}

.send {
    position: absolute;
    right: 20px;
    margin-top: -25px;
    width: 54px;
    height: 54px;
    background-color: #e43f5a;
}

.chat-bar-btn-icon {
    margin-top: 12px;
    margin-left: 6px;
}

.van-icon img {
    margin-right: 0;
}

.message-item {
    display: inline-block !important;
    background-color: #FFFFFF;
    border-radius: 30px;
    font-size: 12px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-right: 50px;
    line-height: 20px;
    font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;;
}

.right {
    background-color: #dddddd;
    float: right;
    margin-left: 50px;
    margin-right: 0;
}

.item-occupy {
    width: 100%;
    clear: both;
}